.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* sticky header with top0 and zindex100 makes sure its always on top */
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}

.header__icon {
    object-fit: contain; /* Keep aspect ratio when resizing */
    height: 100px; /* Only need to change the height because we use object-fit contain */
    margin-left: 20px;
}

.header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray; /* Make round border around inputarea */
    border-radius: 999px;
}

.header__center > input {
    border: none;
    outline-width: 0; /* remove input border when focused */
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}